@import '../base';

.footer { 
  overflow: hidden;

  color: var(--color-white);
  background-color: var(--color-black);

  @include viewport-desktop {
    padding: px-to-rem(100) 0;
  }
  @include viewport-tablet {
    padding: px-to-rem(86) 0;
  }
  @include viewport-phone {
    padding: px-to-rem(68) 0 px-to-rem(72);
  }

  //.footer__wrapper 
  &__wrapper {
    width: 100%;

    @include viewport-tablet-min {
      display: flex;
      justify-content: space-between;
    }

    > * + * {
      @include viewport-tablet-min {
        margin-left: px-to-rem(40);
      }

      @include viewport-phone {
        margin-top: px-to-rem(52);
      }
    }
  }
  
  //.footer__item 
  &__item {
    width: 100%;

    @include viewport-phone {
      display: grid;
      //grid-template-columns: px-to-rem(110) 1fr;
      grid-template-columns: px-to-rem(78) 1fr;
      gap: px-to-rem(26);
      
      @media (max-width: 420px) {
        gap: px-to-rem(16);
      }
    }

    &:nth-child(1) {
      @include viewport-tablet-min {
        max-width: px-to-rem(250);
      }
    }

    &:nth-child(2) {
      @include viewport-tablet-min {
        max-width: max-content;
      }
    }

    &:nth-child(3) {
      @include viewport-tablet-min {
        max-width: px-to-rem(392);
      }
    }

    > * {
      &:only-child {
        @include viewport-phone {
          grid-column: -1 / 1;
        }
      }

      + * {
        @include viewport-tablet-min {
          padding-top: px-to-rem(48);
        }
      }
    }
  }
  
  //.footer__title 
  &__title {
    text-transform: uppercase;
    font-weight: 700;

    @include viewport-tablet-min {
      line-height: 110%;
      font-size: px-to-rem(20);
    }
    @include viewport-phone {
      line-height: 112%;
      font-size: px-to-rem(16);
    }
  }
  
  //.footer__content 
  &__content {
    > * + * {
      @include viewport-tablet-min {
        margin-top: px-to-rem(34);
      }
      @include viewport-phone {
        margin-top: px-to-rem(28);
      }
    }
  }

  //.footer__socials__container 
  &__socials__container {
    > * + * {
      @include viewport-tablet-min {
        margin-top: px-to-rem(8);
      }
      @include viewport-phone {
        margin-top: px-to-rem(12);
      }
    }
  }

  //.footer__socials__title 
  &__socials__title {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 100%;
    color: var(--color-grey);
    
    @include viewport-tablet-min {
      font-size: px-to-rem(14);
    }
    @include viewport-phone {
      font-size: px-to-rem(10);
    }
  }
  
  //.footer__socials 
  // &__socials {
  // }
  
  //.footer-contact 
  &-contact {
    > * + * {
      @include viewport-desktop {
        margin-top: px-to-rem(32);
        
        @media (min-width: 1700px) {
          margin-top: px-to-rem(54);
        }
      }
      @include viewport-phone {
        margin-top: px-to-rem(20);
      }
    }

    //.footer-contact__link 
    &__link {
      display: block;
      width: 100%;
      max-width: max-content;

      @include transition(color 0.3s);
      text-decoration: unset;
      font-weight: 400;
      line-height: 100%;
      font-size: px-to-rem(30);
      color: var(--color-grey);
      
      @include hover-focus-visible {
        @include non-mobile-device {
          color: var(--color-red);
        }
      }

      @include viewport-phone {
        @media (max-width: 420px) {
          font-size: px-to-rem(18);
        }
      }

      &.medium {
        @include viewport-desktop {
          font-size: px-to-rem(40);

          @media (min-width: 1700px) {
            font-size: px-to-rem(80);
          }
        }
      }
    }
  }
  
  //.footer-accordion 
  &-accordion {
    //.footer-accordion__text 
    &__text {
      display: flex;
      align-items: center;

      @include viewport-tablet-min {
        font-size: px-to-rem(20);
      }
      
      @include viewport-phone {
        flex-direction: row-reverse;
        font-size: px-to-rem(16);
      }
    }

    //.footer-accordion__additional 
    &__additional {
      text-transform: uppercase;
      font-weight: 700;
      color: rgba(var(--color-white--rgb), 0.2);

      @include viewport-tablet-min {
        margin-right: px-to-rem(8);
      }
      @include viewport-phone {
        margin-left: px-to-rem(6);
      }
    }
    
    //.footer-accordion-info 
    &-info {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(px-to-rem(170), 1fr));
      gap: px-to-rem(12) px-to-rem(30);

      @include viewport-desktop {
        @media (min-width: 1700px) {
          gap: px-to-rem(8) px-to-rem(48);
        }
      }

      //.footer-accordion-info__col 
      &__col {
        display: flex;
        flex-direction: column;

        > * + * {
          margin-top: px-to-rem(8);
        }
      }
      
      //.footer-accordion-info__item 
      &__item {
        @include transition(color 0.3s);
        text-decoration: unset;
        font-weight: 400;
        line-height: 100%;
        font-size: px-to-rem(20);
        color: var(--color-grey);

        @include hover-focus-visible {
          @include non-mobile-device {
            color: var(--color-red-100);
          }
        }
      }
    }
    
    //.footer-accordion-adress 
    &-adress {
      display: flex;
      align-items: center;

      @include transition(color 0.3s);
      text-decoration: unset;
      font-weight: 400;
      line-height: 100%;
      font-size: px-to-rem(16);
      color: var(--color-red);

      @include hover-focus-visible {
        @include non-mobile-device {
          color: var(--color-white);
        }
      }

      > * + * {
        margin-left: 0.5em;
      }

      //.footer-accordion-adress__text 
      &__text {
        text-underline-offset: px-to-rem(4);
        text-decoration: underline;
      }
      
      //.footer-accordion-adress__label 
      &__label {
        flex-shrink: 0;
        width: px-to-rem(10);

        svg,
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
