section.contact
  ._container
    .contact__wrapper
      .contact__content
        .contact__header
          h2.contact__title
            span дізнайтесь
            span як отримати вигоду
            span на авто до 40%

          a.contact__link(href='tel:+380674448820') +380 (67) 444 88 20
