html,
body {
  @include hide-scroll-bars;
}

html {
  font-family: $font-family;
  //font-family: sans-serif;
  font-size: 16px;
  line-height: 120%;
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

input,
textarea,
button,
select {
  font-family: $font-family;
}

* {
  text-size-adjust: 100%;
  
  @include mobile-device (false) {
    outline: none;
  }
}
