@mixin text-heading-styles {
  margin: 0;
  font-family: $font-family-heading;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  //color: var(--color-black);
}

@mixin text-heading-1 {
  @include text-heading-styles;
  line-height: 100%;
  word-break: break-word;

  @include viewport-desktop {
    font-size: px-to-rem(100);

    @media (min-width: 1600px) {
      font-size: px-to-rem(150);
    }
  }

  @include viewport-tablet {
    font-size: px-to-rem(72);
  }

  @include viewport-phone {
    font-size: px-to-rem(60);
    
    @media (max-width: 350px) {
      font-size: px-to-rem(50);
    }
  }
}

@mixin text-heading-2 {
  @include text-heading-styles;

  @include viewport-desktop {
    font-size: px-to-rem(80);
  }

  @include viewport-tablet {
    font-size: px-to-rem(48);
  }
  
  @include viewport-phone {
    font-size: px-to-rem(40);
  }

  // span {
  //   color: var(--color-red);
  // }
}

@mixin text-heading-2-special {
  @include text-heading-styles;

  @include viewport-desktop {
    font-size: px-to-rem(80);
    
    @media (min-width: 1600px) {
      font-size: px-to-rem(100);
    }
  }

  @include viewport-tablet {
    font-size: px-to-rem(48);
  }
  
  @include viewport-phone {
    font-size: px-to-rem(40);
  }
}

@mixin text-heading-3 {
  @include text-heading-styles;

  @include viewport-desktop {
    font-size: px-to-rem(30);
  }

  @include viewport-tablet {
    font-size: px-to-rem(24);
  }
  
  @include viewport-phone {
    font-size: px-to-rem(24);
  }
}

@mixin text-heading-4 {
  @include text-heading-styles;

  @include viewport-desktop {
    font-size: px-to-rem(20);
  }

  @include viewport-tablet {
    font-size: px-to-rem(20);
  }
  
  @include viewport-phone {
    font-size: px-to-rem(18);
  }
}

@mixin text-heading-5 {
  @include text-heading-4;
}

@mixin text-heading-6 {
  @include text-heading-5;
}
